* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-fundo);
  color: var(--color-texto);

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;

  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main {
  background-color: var(--color-cartao);
  padding: calc(var(--spacing) * 2);
  border-radius: var(--radius-large);
  width: 400px;

  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);

  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

input {
  width: 100%;
  padding: var(--spacing);

  background-color: var(--color-input-bg);
  border: 1px solid var(--color-input-border);

  border-radius: var(--radius-small);
  color: var(--color-texto);

  transition: border var(--transition-speed) var(--transition-ease);
}

input:focus {
  outline: none;
  border-color: var(--color-degrade-1);
}

button {
  width: 100%;
  padding: var(--spacing);

  border: none;
  border-radius: var(--radius-small);

  font-weight: bold;
  color: var(--color-text);

  background-image: linear-gradient(
    to right,
    var(--color-degrade-1),
    var(--color-degrade-2)
  );

  cursor: pointer;

  transition:
    transform var(--transition-speed) var(--transition-ease),
    opacity var(--transition-speed) var(--transition-ease);
}

button:hover {
  transform: scale(1.05);
  opacity: 0.9;
}
